
*{
    box-sizing: border-box;
}

html {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 170%;
    color:  rgba(35, 53, 6, 1);
    background: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    border-radius: 22.5px;
    font-weight: 500;
    font-size: 18px;
    color: #FF800B;
    padding: 13px 22px;
    border: 2px solid #FFFFFF;
    transition: border-color 0.4s;
}

.btn:hover{
    border-color: #FF800B;
}

.btn--sm {
    border-radius: 15px;
    padding: 12px;
}

.header__btns .btn{
    margin-left: 13px;
}

.btn--icon{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #FDB827;
    border-radius: 33px;
    padding: 22px 42px;
}

.btn--icon img{
    margin-left: 19px;
}

/*HEADER*/

.header{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.header__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 45px 0;
}

.header__menu{
    display: flex;
    align-items: center;
    position: relative;

}

.logo{}

.logo img{}

.menu{
    margin-right: 180px;
}

.menu a{
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    color: rgba(35, 53, 6, 1);
    text-decoration: none;
    margin: 0 23px;
    position: relative;
}

.menu a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgba(35, 53, 6, 1);
    opacity: 0;
    transition: opacity 0.4s;  
}

.menu a:hover::after{
    opacity: 1;
}

.header__btns .btn{
    margin-left: 11px;
}

.burger{
    display: none;
    height: 27px ;
    width: 27px;
    position: relative;
}

.burger span{
    width: 27px;
    height: 2px;
    position: relative;
    background: #233506 ;
}

.burger span::before,
.burger span::after{
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: 2px;
    background: #233506 ;
}

.burger span::before{
    top: -8px;
}

.burger span::after{
    top: 8px;
}

.close{
    display: none;
    height: 27px;
    width: 27px;
    position: absolute;
    top: 30px;
    right: 20px;
    
}


.close span{
    background: #233506 ;
    width: 27px;
    height: 2px;
    transform: rotate(45deg);
    position: absolute;
   
    

}

.close span::after{
    content: '';
    position: absolute;
    width: 27px;
    height: 2px;
    background: #233506 ;
    transform: rotate(90deg) ;

}


/*1200 + */
/*992px - 1199.75px */
/* 768px - 991.75px*/
@media(max-width:991.75px) {
    .menu{
        margin-right: 0;
    }

    .header__row{
        padding: 25px 0;
    }

    .menu a{
        margin: 0 10px;
    }
}

/* 320px - 767.75px*/
    @media(max-width:767.75px) {
        .header__menu{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            background-color: #FDB827;
            display: block;    
            padding: 100px 20px;
            z-index: 1;
            transform: translateX(0);
            transition: transform 0.8s;
        }

        .header__menu .header__menu--close{
            transform: translateX(100);

        }

        .header__btns {
            margin-top: 40px;
        }

        .header__btns .btn{
            margin-left: 0; 
            margin-right: 5px;
        }

        .menu a {
            display: block;
            margin: 0 0 20px;
        }

        .burger{
            display: block;
        }

        .header__menu .close {
            transform: translateX(100%);

        }
        
        .close,

        
    }



/* FS */

.fs{
    background: rgba(255, 249, 242, 1);
    position: relative;
    padding: 324px 0 50px;
    min-height: 1021px;
    overflow: hidden;
}

.fs .container {
    position: relative;
    z-index: 1;
}

.fs::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 33.3vw;
    background: rgba(253, 184, 39, 1);


}

.fs__title{
    font-weight: 700;
    font-size: 84px;
    line-height: 120%;
    max-width: 600px;
    align-items: center;
    color: #FF800B;
    margin: 0 0 28px;
}

.fs__title span{
    color: rgba(35, 53, 6, 1);

}

.fs__text{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: rgba(35, 53, 6, 0.65);
    max-width: 456px;
    margin: 0 0 37px;
}

.fs__img{
    position: absolute;
    right: -17.9vw;
    top: -344px;
    max-width: 73vw;
}

/*1200 + */
/*992px - 1199.75px */
@media (max-width:1199.75px) {
    .fs{
        padding:214px 0 50px ;
        min-height: 711px;
    }

    .fs__img {
        top: -254px;
    }
    .fs__title {
        font-size: 65px ;
        max-width: 480px;
    }
}
/* 768px - 991.75px*/
@media(max-width:991.75px) {
    .fs{
        padding:214px 0 50px ;
        min-height: 631px;       
    }

    .fs__title {
        font-size: 52px ;
        max-width: 380px;
    }
    .fs__img {
        top: -154px;
    }

    .fs__text{
        max-width: 366px;  
}

.fs::after{
    width: 40.3vw;
}
}

/* 320px - 767.75px*/
@media(max-width:767.75px) {
    .fs {
        padding: 104px 0 50px;
        min-height: 571px;
    }

    .fs::after,
    .fs__img{
        display: none;
    }

    .fs__title {
        font-size: 45px;
    }


}


/*Featured product*/

.featured{
    padding-top: 122px;
    padding-bottom: 100px;
    
}

.featured__title{
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    color: #233506;
    margin: 0 0 70px;
}

.featured__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.featured__col{    
    max-width: 25%;
    flex: 1 0 25%;
    padding: 0 15px;
}

.feature{
    margin: 0 0 43px;
}

.feature__img{
    border-radius: 9px;
    width: 100%;
}

.feature__row{
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #02283F;
}

.featured__price{
    font-size: 18px;
    line-height: 21px;
    color: #02283F;
}

.feature__weight{
    font-size: 12px;
    line-height: 14px;
    color: rgba(2, 40, 63, 0.81);
}

.feature__btn{
    background: #FDB827;
    border-radius: 8px;
    display: inline-block;
    font-size: 18px;
    color: #02283F;
    padding: 10px 37px ;
    border: 0;
}

.feature__btn:hover{
    background: #02283F;
    color: #FDB827;
    transition: background-color 0.4s, color 0.4s ;
}

/*1200 + */
/*992px - 1199.75px */
@media (max-width:1199.75px) {
    .featured{
        padding-top: 82px ;
        padding-bottom: 82px;
    }

    .featured__title{
        font-size: 54px;
        margin-bottom: 50px; ;
       
    }

    .featured__col{    
        max-width: 33.3333%;
        flex: 1 0 33.3333%;
        
    }


}

/* 768px - 991.75px*/

@media(max-width:991.75px) {
    .featured__title{
        font-size: 48px;
    }

    .featured__col{    
        max-width: 50%;
        flex: 1 0 50%;
}
}
/* 320px - 767.75px*/

@media(max-width:767.75px){
    .featured{
        padding-top: 52px;
        padding-bottom: 52px;
    }

    .featured__title{
        font-size: 42px;
        margin-bottom: 30px;
    }

    .featured__col  {
        max-width: 100%;
        flex: 1 0 100%;
    }
        
    
}

/*WORKS*/

.worcs {
    padding: 52px 0;
    background:#FFF9F2 ;
    position: relative;
}

.worcs .container {
    position: relative;
    z-index: 1;
}

.works::after{
    content: '';
    width: 25vw;
    height: 25vw;
    border: 74px solid rgba(253, 184, 39, 0.23);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 7px;
    left: -33vw;
}

.works__row{
    display: flex;
    flex-wrap: wrap;
    
}

.worcs__imgs {
    display: flex;
    max-width: 50% 0;
    flex: 1 0 50%;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center ;    
}

.worcs__imgs img {
    border-radius: 34px;
}

.orange {
    position: relative;
    top: -50px;
}

.works__content{
    max-width: 50% 0;
    flex: 1 0 50%;
    padding-left: 90px;
    padding-top: 25px ;
}

.works__title {
    font-size: 70px;
    line-height: 117%;
    font-weight: 700;
    color: #02283F;
    margin: 0 0 26px;
}

.works__text{
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgba(42, 53, 71, 0.75);
    margin: 0 0 48px;
}

.works__list{

}

.work__item{
    display: flex;
    margin: 0 0 40px;
    align-items: center;
}

.work__item img{}

.work-item__content{
    padding-left: 30px;
}

.work-item__icon{
    display: flex;
    width: 62px;
    height: 62px;
}

.work-item__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #02283F;
    margin: 0 0 9px;
}

.work-item__text{
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgba(2, 40, 63, 0.67);
}


/*1200 + */
/*992px - 1199.75px */
@media (max-width:1199.75px) {
    .works__content{
        padding-left:  10px; 

    }
    .worcs__imgs img:nth-child(4) {
        top: -20px;
    }

    .works__title{
        font-size: 54px;
    }

    .work-item__content{
        padding-left: 20px;
    }

    .worcs__imgs img {
        max-width: 45%;
    }
}
/* 768px - 991.75px*/

@media(max-width:991.75px) {
    .worcs__imgs {
        max-width: 100% ;
        flex: 1 0 100%;
        order: 2; 
        justify-content: center;}

    .works__content{
        max-width: 100% ;
        flex: 1 0 100%;
        
}
}
/* 320px - 767.75px*/

@media(max-width:767.75px) {
    .works__title{
        font-size: 48px;
    }

    .worcs__imgs img {
        max-width: 43%;
    }
}

/*ABOUT*/

.about{
    padding: 76px 0px;
    background:#FFFFFF ;
    position: relative;
    overflow: hidden;
}

.about__row::after{
    content: '';
    width: 25vw;
    height: 25vw;
    border: 76px solid rgba(253, 184, 39, 0.23);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 73px;
    left: 43vw;
    z-index: 1;
}



.about__row{
    display: flex;
    align-items: center;
    position: relative;
    
}

.about__content{
    width: 41%;
    padding-top: 110px;
    
}

.about_title{
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #02283F;
    margin: 0px 0 4px;
    position: relative;
    width: 298px;
}

.about__text{
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 170%;
    color: #5F6672;
    width: 485px;
    margin: 41px 0 28px;
}

.btn--about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #FDB827;
    border-radius: 30px;
    padding: 29px 32px;
    width: 160px;
    height: 60px;
    margin: 0px 5px 14px;

}

.about__img{
    border-radius: 75px;
    top: 38px;
    left: 130px;
    position: relative;
    z-index: 2;
}

.about__img .img {
    
}

/*1200 + */
/*992px - 1199.75px */
/* 768px - 991.75px*/
/* 320px - 767.75px*/

/*REVIEW*/

.review{
    padding: 0px 0;
    position: relative;
    background: #FFF9F2;
}

.review__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 109px;
}

.review__title{
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #02283F;
    padding-top: 66px;
    margin-bottom: 60px;
}

.review__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 826px;
    height: 368px;
    background: #FFFFFF;
    border-radius: 64px;   
    position: relative;   
}

.review__col-left{
    position: absolute;
    left: -34px;
    top: 136px;
    border-radius: 50%;
}

.review__col-right{
    position: absolute;
    top: 136px;
    right: -28px;
    border-radius: 50%;
}

.review__text{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #02283F;
    max-width: 604px;  
   
}

.review__customers{
    display: flex;
    align-items: center;    
}

.review__customers img {
    margin: 0 20px;  
    padding: 5px 0px 0px 15px
 
}

.reviev__customer {
    margin: 40px 0;
}

.review__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: rgba(2, 40, 63, 0.79);
    padding: 15px 0px 0px;
}

.review__status{
    font-weight: 400 ;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: rgba(2, 40, 63, 0.64);
} 

/*1200 + */
/*992px - 1199.75px */
/* 768px - 991.75px*/
/* 320px - 767.75px*/

/*FOOTER*/

.footer{
    padding: 100px  0px;
    position: relative;
    background: #FFFFFF;
    margin-top: 210px;
}

.footer__row{
    display: flex;
    justify-content: space-between;
}

.footer__fruity{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 14px;

}

.fotter__title{
    font-family:'Poppins';
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #243165;
    
    
}

.footer__text{
    font-family: 'Sofia Pro';
    font-size: 17px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(55, 84, 101, 0.8);
    max-width: 289px;
    padding-top: 24px;
    
}

.footer__icon{
    display: flex;
    flex-wrap: wrap;
    padding-top: 29px;
    

}

.footer__icon button{
    border: none;
    background: #FFFFFF;
    margin-right: 25px;
}

.footer__icon img {
    background: #FFFFFF;
}

.footer__btn--fb{
    width: 13px;
    margin: 0 -6px;
}


.footer__btn--tw{
    margin-left: -6px;
}

.footer__btn--in{
    padding: 0px 0 6px 0;
    margin-left: -17px;
}

.footer__btn--yt{
    margin-left: -15px;
    padding-bottom: 1px;
}




.footer__col{
    max-width: 195px;
    padding-right: 7px;
}

.footer_col-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #243165;
    padding-top: 11px;
}


.fotter__list--li a{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: rgba(55, 84, 101, 0.8);
    margin-top: 15px ;
    text-decoration: none ;
}

.fotter__list--li{
    margin-top: 15px;
}

/*1200 + */
/*992px - 1199.75px */
/* 768px - 991.75px*/
/* 320px - 767.75px*/

/*RIGHTS*/

.rights{
    
    position: relative;
    background: #FFFFFF;
}

.rights__text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(55, 84, 101, 1);
    border-top: 1px solid #C4C4C4;
    width: 1200px;
    padding: 30px 35px 0 0;  
    display: flex;
    justify-content: center;
}

/*1200 + */
/*992px - 1199.75px */
/* 768px - 991.75px*/
/* 320px - 767.75px*/