
*{
    box-sizing: border-box;
}

html {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 170%;
    color:  rgba(35, 53, 6, 1);
    background: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    border-radius: 22.5px;
    font-weight: 500;
    font-size: 18px;
    color: #FF800B;
    padding: 14px 25px;
    border: 0;
}

.btn--sm {
    border-radius: 15px;
    padding: 14px;
}

.header__btns .btn{
    margin-left: 13px;
}

.btn--icon{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #FDB827;
    border-radius: 33px;
    padding: 22px 42px;
}

.btn--icon img{
    margin-left: 19px;
}

/*HEADER*/

.header{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.header__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
}

.logo{}

.logo img{}

.menu{}

.menu a{
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    color: rgba(35, 53, 6, 1);
    text-decoration: none;
    margin: 0 23px;
}




/* FS */

.fs{
    background: rgba(255, 249, 242, 1);
    position: relative;
    padding: 100px 0 50px;
    padding: 170px 0 50px;
    min-height: 1021px;
}

.fs .container {
    position: relative;
    z-index: 1;
}

.fs::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 34vw;
    background: rgba(253, 184, 39, 1);


}

.fs__title{
    font-weight: 700;
    font-size: 84px;
    line-height: 120%;
    max-width: 600px;
    align-items: center;
    color: #FF800B;
    margin: 0 0 20px;
}

.fs__title span{
    color: rgba(35, 53, 6, 1);

}

.fs__text{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: rgba(35, 53, 6, 0.65);
    max-width: 456px;
    margin: 0 0 20px;
}

.fs__img{
    position: absolute;
    right: -17vw;
    top: -226px;
}

/*Featured product*/

.featured{
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.featured__title{
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #233506;
    margin: 0 0 30px;
}

.featured__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.featured__col{    
    max-width: 25%;
    flex: 1 0 25%;
    padding: 0 15px;
}

.feature{
    margin: 0 0 30px;
}

.feature__img{
    border-radius: 9px;
}

.feature__row{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #02283F;
}

.featured__price{
    font-size: 18px;
    line-height: 21px;
    color: #02283F;
}

.feature__weight{
    font-size: 12px;
    line-height: 14px;
    color: rgba(2, 40, 63, 0.81);
}

.feature__btn{
    background: #FDB827;
    border-radius: 8px;
    display: inline-block;
    font-size: 18px;
    color: #02283F;
    padding: 10px 15px ;
    border: 0;
}

/*WORKS*/

.worcs {
    padding: 100px 0;
    background:#FFF9F2 ;
    position: relative;
}

.works::after{
    content: '';
    width: 30vw;
    height: 30vw;
    border: 74px solid rgba(253, 184, 39, 0.23);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50px;
    left: -20vw;
}

.works__row{
    display: flex;
    flex-wrap: wrap;
    
}

.worcs__imgs {
    display: flex;
    max-width: 50% 0;
    flex: 1 0 50%;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center ;    
}

.worcs__imgs img {
    border-radius: 34px;
}

.orange {
    position: relative;
    top: -50px;
}

.works__content{
    max-width: 50% 0;
    flex: 1 0 50%;
    padding-left: 30px;
}

.works__title {
    font-size: 70px;
    line-height: 82px;
    font-weight: 700;
    color: #02283F;
    margin: 0 0 10px;
}

.works__text{
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgba(42, 53, 71, 0.75);
    margin: 0 0 20px;
}

.works__list{

}

.work__item{
    display: flex;
    margin: 0 0 30px;
    align-items: center;
}

.work__item img{}

.work-item__content{
    padding-left: 30px;
}

.work-item__icon{
    display: flex;
    width: 62px;
    height: 62px;
}

.work-item__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #02283F;
}

.work-item__text{
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgba(2, 40, 63, 0.67);
}

.work-item--violet .work-item__icon{}

.work-item--green .work-item__icon{}

.work-item--orange .work-item__icon{}

.work-item--yellou .work-item__icon{}

/*ABOUT*/

.about{
    padding: 100px 0;
    background:#FFFFFF ;
    position: relative;
}

.about__row::after{
    content: '';
    width: 30vw;
    height: 30vw;
    border: 74px solid rgba(253, 184, 39, 0.23);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 132px;
    left: 39vw;
    z-index: 1;
}



.about__row{
    display: flex;
    align-items: center;
}

.about__content{}

.about_title{
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #02283F;
    margin: 0 0 30px;
}

.about__text{
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 170%;
    color: #5F6672;
    max-width: 485px;
    margin: 0 0 50px;
}

.btn--about{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #FDB827;
    border-radius: 30px;
    padding: 25px 34px;
    width: 160px;
    height: 60px;

}

.about__img{
    border-radius: 75px;
    margin-left: 126px;
    position: relative;
    z-index: 2;
}

/*REVIEW*/

.review{
    padding: 100px 0;
    position: relative;
    background: #FFF9F2;
}

.review__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__title{
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #02283F;
    padding-top: 147px;
    margin-bottom: 60px;
}

.review__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 826px;
    height: 368px;
    background: #FFFFFF;
    border-radius: 64px;      
}

.review__col-left{
    position: absolute;
    top:540px;
    left: 155px;
    border-radius: 50%;
}

.review__col-right{
    position: absolute;
    top:540px;
    left: 985px;
    border-radius: 50%;
}

.review__text{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #02283F;
    max-width: 604px;    
}

.review__customers{
    display: flex;
    align-items: center;    
}

.review__customers img {
    border-radius: 50%;
    margin: 0 20px;    
}

.reviev__customer {
    margin: 40px 0;
}

.review__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: rgba(2, 40, 63, 0.79);
}

.review__status{
    font-weight: 400 ;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: rgba(2, 40, 63, 0.64);
}

/*FOOTER*/

.footer{
    padding: 100px 0;
    position: relative;
    background: #FFFFFF;
}

.footer__row{
    display: flex;
    justify-content: space-between;
}

.footer__fruity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.fotter__title{
    font-family:'Poppins';
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #243165;
    
}

.footer__text{
    font-family: 'Sofia Pro';
    font-size: 17px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(55, 84, 101, 0.8);
    max-width: 289px;
    
}

.footer__icon{
    display: flex;
    flex-wrap: wrap;
    

}

.footer__icon button{
    border: none;
    background: #FFFFFF;
    margin-right: 25px;
}

.footer__icon img {
    background: #FFFFFF;
}

.footer__btn--fb{
    width: 13px;
    height: 21;
}

.footer__col{
    max-width: 195px;
}

.footer_col-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #243165;
}

.fotter__list {
    margin-top: 47px;
}
.fotter__list--li{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: rgba(55, 84, 101, 0.8);
    margin-top: 27px ;
}

